@model DBTask.Controllers.LetterModel
@{
    ViewData["Title"] = "City";
}

<h2>City</h2>
<form method="post">
    <select asp-for="City" asp-items="@Model.CitiesList"></select>
    <input type="hidden" asp-for="Code1" />
    <input type="hidden" asp-for="Code2" />
    <input type="hidden" asp-for="Code3" /><br /><br />
    @Html.ActionLink("Назад", "Rayon", Model)
    <button type="submit">Далее</button>
</form>
