@model DBTask.Controllers.LetterModel
@{
    ViewData["Title"] = "House";
}

<h2>House</h2>
<form method="post">
    <select asp-for="House" asp-items="@Model.HouseList"></select>
    <input type="text" asp-for="Flat" placeholder="кв." />
    <input type="hidden" asp-for="Code1" />
    <input type="hidden" asp-for="Code2" />
    <input type="hidden" asp-for="Code3" /><br /><br />
    <button type="submit">Далее</button>
</form>
