@model DBTask.Controllers.LetterModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post">
    <select multiple="multiple" asp-for="SelectedIds" asp-items="@Model.Items" id="address-dropdown" class="form-control"></select>
    <br/>
    <br/>
    <textarea class="form-control" asp-for="Text" placeholder="Текст письма..." style="height: 400px;"></textarea>
    <br/>
    <br/>
    <button type="submit">Загрузить файл</button>
</form>