@model DBTask.Controllers.LetterModel
@{
    ViewData["Title"] = "Rayon";
}

<h2>Rayon</h2>

<form method="post">
    <select asp-for="Rayon" asp-items="@Model.RayonsList"></select>
    <input type="hidden" asp-for="Code1" />
    <input type="hidden" asp-for="Code2" />
    <input type="hidden" asp-for="Code3" /><br /><br />
    <button type="submit">Далее</button>
</form>
