@model DBTask.Controllers.LetterModel
@{
    ViewData["Title"] = "Street";
}

<h2>Street</h2>
<form method="post">
    <select asp-for="Street" asp-items="@Model.StreetsList"></select>   
    <input type="hidden" asp-for="Code1" />
    <input type="hidden" asp-for="Code2" />
    <input type="hidden" asp-for="Code3" /><br /><br />
    <button type="submit">Далее</button>
</form>
